<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>変更履歴</title>
</head>

<body>

    <div class="">
        <h2>2023/01/12</h2>
        画像投稿しても反映されないのを修正 ←まだ治ってなかった<br>
        Detailのレイアウトを微調整<br>
        コメントボタンを連打すると複数送信されてしまうのを修正<br>
    </div>
    
    <div>
        <h2>2023/01/13</h2>
        変更履歴表示<br>
        ホーム画面に流れるアナウンスを追加<br>
        画像投稿しても反映されないのを修正<br>
            <ul>
                <li>どうやらRenderの無料プランはGitのリポジトリにはないファイルを定期的に削除しているらしい</li>
                <li>なので画像が一定時間経つと表示されなくなっていた</li>
            </ul>
        ･解決策<br>
            <ul>
                <li>models.pyの画像のfieldをImageFieldからTextFieldに変更</li>
                <li>画像投稿時､base64形式にエンコードしてDBに保存(base64はテキストなので画像ファイル扱いにならない)</li>
                <li>画像表示時､デコードして表示</li>
                で解決しました｡ご参考までに｡
            </ul>
    
    </div>
    
    <div>
        <h2>2023/01/29</h2>
        indexページのアニメーション追加とスマホ対応(画像はまだ)<br>
        ログイン状態のままDEVIANTにアクセスすると自動でホームに移動するように変更<br>
        Signupボタンを設置<br>
        投稿の画像にマウスオーバーすると拡大表示されるように変更<br>
        投稿の削除ボタンのバグを修正<br>
    </div>
    


    <br><br>
<a href="{% url 'home' %}">Homeに戻る</a>
</body>

</html>