<!DOCTYPE html>
{% extends 'chat/header.html' %}
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Detail{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block header %}

<body>
    <div class= "container">
        <p>投稿者:{{ post.author }}</p>
        <h2>タイトル:{{ post.title }}</h2>
        <p>性別:{{ post.sex }} 容姿:{{ post.looks }} 種族:{{ post.type }} 状態:{{ post.state }}</p>
        <p>本文:{{ post.content }}</p>

        {% if post.img %}
        <p>画像:</p>
        <img src="/media/{{ post.img }}" width="300" height="300">
        {% else %}
        <img src="{% static 'img/NoImage.png' %}" width="300" height="300">
        {% endif %}
        <p>閲覧数:{{post.pv}} お気に入り数:{{ post.fav_num }}</p>
        <p>投稿日時:{{ post.created_at | date:'Y/m/d H:i'}}</p>
        <br>
    </div>

    {% if request.user.is_authenticated %}
      {% if favorite.exists %}
    <div class="container">
        <a href={% url 'fav' post.id %}>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">お気に入りから削除</button>
          </a><br><br>
    </div>
      {% else %}
      <div class="container">
        <a href={% url 'fav' post.id %}>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">お気に入りに追加</button>
          </a><br><br>
    </div>
      {% endif %}
    {% endif %}

    <h2>Comments</h2>
    {% if post.comments %}
    {% for comment in post.comments.all %}
    <div class="text">
      <span>{{comment.post_comment_id}}:{{comment.username}}さん</span>
      <small>[{{ comment.created_at }}]</small>
      <div>
        {{ comment.text | linebreaksbr }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No comment.</p>
    {% endif %}
  </div>
    <br><br>
    {% if request.user.is_authenticated %}
    <form action="comment/" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    {% else %}
    <p>いいね､又はコメントするには<a href={% url 'login' %}><strong>ログイン</strong></a>してください。</p>
    {% endif %}
  <br><br>
    <!--Homeに戻るボタン-->
    <div class="container">
        <a href="/home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Homeに戻る</a>
    </div><br><br>
    <!--削除ボタン-->
    <!--作者なら表示-->
    {% if post.author == request.user.username %}
    <div class="container">
        <a href="javascript:void(0)" onclick="deletePost()">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">削除する</button>
          </a>
    </div>
    {% endif %}

    <script>
      function deletePost(){
          console.log('delete-post');
          if(window.confirm('本当に削除しますか？')){
              location.href = 'delete/';
          }
      }
  
  </script>
</body>
{% endblock %}


</html>