<!DOCTYPE html>
{% extends 'chat/header2.html' %}
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Detail{% endblock title %}</title>
</head>
{% block header %}
<br><br>
<body class="bg-slate-300" id="body-main">
  <div class="pr-16 pl-16 p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10" name="main">
    
  <div id="left" class="">
    <div name="wrap"class="text-xl rounded-xl container bg-white p-4 shadow-2xl">
      <div name="top">
         <p class="text-2xl">投稿者:{{ post.author }} タイトル:{{ post.title }}</p>
          <p>性別:{{ post.sex }} 分類:{{ post.looks }}</p>
          <p>種族:{{ post.type }} 状態:{{ post.state }}</p>  
          <br>
          
      </div name="top">

    <div name="bottom">
     
      <br>
        <p>内容:</p>
          {{ post.content | linebreaksbr }}
     
    </div name="bottom">
    
    </div name="wrap">
  </div name="left">
  <div id="center" class="container">

        {% if post.img %} 

        <img src="data:image/png;base64, {{ post.img }}" class="rounded-xl w-full mr-6 shadow-2xl"> 
          <br>
          <p class="p-2 bg-white rounded-xl shadow-2xl text-xl">画像の説明:{{ post.alt_text }}</p>
        {% else %} 

          <img src="{% static 'img/NoImage.jpg' %}"class="rounded-xl shadow-2xl"> 
          <br>
          <p class="p-2 bg-white rounded-xl shadow-2xl text-xl">画像の説明:No Infomation.</p>
        {% endif %} 
            
      
  </div name="center">
  
  <div id="right" class="container bg-white rounded-xl p-4 container shadow-2xl text-xl">
       
    <h2 class="text-2xl">Comments</h2><br> 

    {% if post.comment_num > 0%} 

    {% for comment in post.comments.all %} 

    <div class="text mt-6"> 

      <span>{{comment.post_comment_id}}:{{comment.username}}さん</span> 

      <small>[{{ comment.created_at }}]</small> 

        <div> 

          {{ comment.text | linebreaksbr }} 

        </div> 

    </div> 

    {% endfor %} 

    {% else %} 

    <p class="text-2xl">コメントはまだありません｡</p> <br>
    <p class="flex justify-center text-4xl">↓　コメントしてみよう　↓</p> 

    {% endif %}      

  </div name="right">

  <div id="bottom-left" class="bg-white rounded-xl p-4 container shadow-2xl text-4xl"> 
    <p>閲覧数:  {{post.pv}} <p>
      <p>お気に入り数:  {{ post.fav_num }}</p>
          <p>投稿日時:  {{ post.created_at | date:'Y/m/d H:i'}}</p>
  </div name="bottom-left">

  <div id="bottom-center" class="p-12">
<!--削除ボタン-->
      <!--作者なら表示-->
      {% if post.author == request.user.username or request.user.username == 'admin'%}
      <div class="container pt-6">
        <a href="javascript:void(0)" onclick="deletePost()"class="flex justify-center">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded flex justify-center" id="button-delete">投稿を削除する</button>
        </a>
      </div>
  {% endif %}
    {% if request.user.is_authenticated %}
    {% if favorite.exists %}
      <div class="container pt-6">
        <a href={% url 'fav' post.id %} class="flex justify-center">
          <button id="button-unfav" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-2xl">お気に入りから削除</button>
        </a>
      </div>
    {% else %}
        <div class="container pt-6">
          <a href={% url 'fav' post.id %} class="flex justify-center">
            <button id="button-fav" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-2xl">お気に入りに追加</button>
          </a>
        </div>
    {% endif %}
  {% endif %}
    <div class="container pt-6 flex justify-center">
      <a href="/home" id="button-home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-2xl">Homeに戻る 🏚</a>
    </div>
 

  </div name="bottom-center">

  <div id="bottom-right"class=" bg-white rounded-xl p-4 container shadow-2xl">
    {% if request.user.is_authenticated %} 

    <form action="comment/" method="post" class=""> 

      {% csrf_token %} 

      {{ comment_form.as_div }} 

      <div class="flex justify-end" id ="commentWrap"> 

        <button type="submit" onclick="commentDisabled();"id="comment" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-2xl">コメントする</button> 
        <button type="submit" onclick="commentDisabled();"id="commentSending" disabled class="hidden bg-gray-500 text-white font-bold py-2 px-4 rounded shadow-2xl">送信中･･･</button> 
      </div> 

    </form> 

    {% else %} 

    <p>いいね､又はコメントするには<a href={% url 'login' %}><br><strong>ログイン</strong></a>してください。</p> 

    {% endif %} 

  </div name="bottom-right">

  </div name="main">

  <script>
    /*コメント送信時､ボタンを無効化する*/
    function commentDisabled(){
      console.log("送信中...");
      document.getElementById("comment").classList.add("hidden");
      document.getElementById("commentSending").classList.remove("hidden");
    }
    var bodyMain = document.getElementById("body-main").classList;
    var buttonHome = document.getElementById("button-home").classList;
    if ( document.getElementById("button-unfav") ) {
     var buttonUnFav = document.getElementById("button-unfav").classList;
    }
    if (document.getElementById("button-fav")){
     var buttonFav = document.getElementById("button-fav").classList;
    }
    if (document.getElementById("button-delete")){
     var buttonDelete = document.getElementById("button-delete").classList;
    }

    /*容姿別デザインの適用*/
    {% if post.looks != "その他" %}

      if (buttonUnFav){
      buttonUnFav.remove("bg-red-500","hover:bg-red-700");
      }
      if (buttonFav){
        buttonFav.remove("bg-blue-500","hover:bg-blue-700");
      }

      bodyMain.remove("bg-slate-300");
      buttonHome.remove("bg-blue-500","hover:bg-blue-700");
      if (buttonDelete){
        buttonDelete.remove("bg-red-500","hover:bg-red-700");
      }

    {% endif %}
    {% if post.looks == "CUTE" %}
    
      bodyMain.add("bg-gradient-to-r","from-blue-200","via-rose-100","to-pink-400");
      if (buttonUnFav){
        buttonUnFav.add("bg-pink-400","hover:bg-pink-700");
      }
      if (buttonFav){
        buttonFav.add("bg-pink-400","hover:bg-pink-700");
      }
      if (buttonDelete){
        buttonDelete.add("bg-red-400","hover:bg-red-700");
      }
      buttonHome.add("bg-emerald-400","hover:bg-emerald-700");

    {% endif %}
    {% if post.looks == "COOL" %} 
      bodyMain.add("bg-gradient-to-r","from-rose-100","to-indigo-900");
      if (buttonUnFav){
        buttonUnFav.add("bg-emerald-400","hover:bg-emerald-700");
      }
      if (buttonFav){
        buttonFav.add("bg-pink-600","hover:bg-pink-700");
      }
      buttonHome.add("bg-indigo-500","hover:bg-indigo-900");
      if (buttonDelete){
        buttonDelete.add("bg-red-600","hover:bg-red-900");
      }
    {% endif %}


    {% if post.looks == "BEAUTIFUL" %}
      bodyMain.add("bg-gradient-to-r","from-rose-100","to-blue-900");
      if (buttonUnFav){
        buttonUnFav.add("bg-red-500","hover:bg-red-700");
      }
      if (buttonFav){
        buttonFav.add("bg-blue-900","hover:bg-blue-700");
      }
      buttonHome.add("bg-blue-900","hover:bg-blue-700");
      if (buttonDelete){
        buttonDelete.add("bg-red-500","hover:bg-red-700");
      }
    {% endif %}
    ScrollReveal().reveal('#left', {
      delay: 100,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
    });
    ScrollReveal().reveal('#center', {
      delay: 150,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
    });
    ScrollReveal().reveal('#right', {
      delay: 200,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
});
    ScrollReveal().reveal('#bottom-left', {
      delay: 250,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
    });
    ScrollReveal().reveal('#bottom-center', {
      delay: 300,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
    });

    ScrollReveal().reveal('#bottom-right', {
      delay: 350,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
    });

    function deletePost() {
      console.log('delete-post');
      if (window.confirm('本当に削除しますか？')) {
        location.href = 'delete/';
      }
    }
    var commentForm = document.querySelector('#id_text');
    commentForm.className =
      "resize-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full border-gray-300 bg-gray-200"
  </script>
</body>
{% endblock %}


</html>