<!DOCTYPE html>
{% extends 'chat/header2.html' %}
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Detail{% endblock title %}</title>
</head>
{% block header %}

<body class="bg-gray-200">
  <div class="p-6 grid grid-cols-3 gap-10">
    
    <div id="left" class="rounded-xl container">
      {% if post.img %}
      <img src="/media/{{ post.img }}" class="rounded-xl w-full mr-6">
      {% else %}
      <img src="{% static 'img/NoImage.jpg' %}"class="rounded-xl shadow-2xl">
      {% endif %}
    </div name="left" class="">

    <div id="center" class="container">

        <div name="wrap"class="bg-white rounded-xl p-4 shadow-2xl">
          <div name="top">
             <span class="text-xl"> <p>投稿者:{{ post.author }} タイトル:{{ post.title }}</p></span>
              <p>性別:{{ post.sex }} 容姿:{{ post.looks }}</p>
              <p>種族:{{ post.type }} 状態:{{ post.state }}</p>  
              <br>
              <p>閲覧数:{{post.pv}} お気に入り数:{{ post.fav_num }}</p>
              <p>投稿日時:{{ post.created_at | date:'Y/m/d H:i'}}</p>
          </div name="top">
  
        <div name="bottom">
         <div>
          <br>
            <p>内容:</p>
              {{ post.content | linebreaksbr }}
         </div>
        </div name="bottom">
        </div>

    </div name="center">
  
   <div id="right" class=" bg-white rounded-xl p-4 container shadow-2xl">
      <h2>Comments</h2><br>
      {% if post.comment_num > 0%}
      {% for comment in post.comments.all %}
      <div class="text">
        <span>{{comment.post_comment_id}}:{{comment.username}}さん</span>
        <small>[{{ comment.created_at }}]</small>
        <div>
          {{ comment.text | linebreaksbr }}
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>コメントはまだありません｡</p>
      {% endif %}
    
      <br><br>
      {% if request.user.is_authenticated %}
      <form action="comment/" method="post" class="">
        {% csrf_token %}
        {{ comment_form.as_div }}
        <div class="flex justify-end">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">コメントする</button>
        </div>
      </form>
      {% else %}
      <p>いいね､又はコメントするには<a href={% url 'login' %}><br><strong>ログイン</strong></a>してください。</p>
      {% endif %}
   </div name="right">



    {% if request.user.is_authenticated %}
    {% if favorite.exists %}
    <div class="container">
      <a href={% url 'fav' post.id %}>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">お気に入りから削除</button>
      </a><br><br>
    </div>
    {% else %}
    <div class="container">
      <a href={% url 'fav' post.id %}>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">お気に入りに追加</button>
      </a>
    </div>
    {% endif %}
    {% endif %}
  
    
    <!--Homeに戻るボタン-->
    <div class="container">
      <a href="/home" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Homeに戻る</a>
    </div>
    <!--削除ボタン-->
    <!--作者なら表示-->
    {% if post.author == request.user.username %}
    <div class="container">
      <a href="javascript:void(0)" onclick="deletePost()">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">投稿を削除する</button>
      </a>
    </div>
    {% endif %}

  </div>

  <script>
    ScrollReveal().reveal('#left', {
      delay: 100,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1000,
      distance: '70px',
});
    ScrollReveal().reveal('#center', {
      delay: 150,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1200,
      distance: '70px',
    });
    ScrollReveal().reveal('#right', {
      delay: 200,
      reset: false,
      origin: 'bottom',
      viewFactor: 0.2,
      duration: 1200,
      distance: '70px',
});
    function deletePost() {
      console.log('delete-post');
      if (window.confirm('本当に削除しますか？')) {
        location.href = 'delete/';
      }
    }
    var commentForm = document.querySelector('#id_text');
    commentForm.className =
      "resize-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full border-gray-300 bg-gray-200"
  </script>
</body>
{% endblock %}


</html>