<!DOCTYPE html>
{% extends 'chat/header.html' %}
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Home{% endblock title %}</title>
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{% static 'css/load.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    
    {% endblock %}
</head>

{% block header %}

<body class="bg-gradient-to-r from-blue-100 via-red-100 to-yellow-100">
  
  {% comment %} ここからローディング画面 {% endcomment %}
  <div class="w-full h-full bg-white cover"style="z-index:5; position:fixed;"></div>
  <div class="w-full h-full loaderBox"style="z-index:7; position:fixed;">
    <div class="loader">loading...</div>
  </div>
  {% comment %} ここまでローディング画面 {% endcomment %}


  <div class="
  p-4 m-4
  lg:text-xl
  ">
  <div class="p-4 m-4 bg-white border rounded-lg border-b-4 border-black border-r-4 shadow-xl">
    <span class="m-2 text-3xl ">
        <a type="button" href="{%url "home"%}?order=popular" class="hover:shadow-2xl hover:text-blue-500">人気順 </a>
      </span>
      <span class="m-2 text-3xl ">
        <a type="button" href="{%url "home"%}?order=veiled" class="hover:shadow-2xl hover:text-blue-500">発掘 </a>
      </span> 
      <span class="m-2 text-3xl">
        <a type="button" href="{%url "home"%}?order=new" class="hover:shadow-2xl hover:text-blue-500">新着順 </a>
      </span>
      <span class="m-2 text-3xl">
        <a type="button" href="{%url "home"%}?order=old" class="hover:shadow-2xl hover:text-blue-500">古い順</a>
      </span>
      <span class="m-2 text-3xl">
        <a type="button" href="{%url "home"%}?order=pv" class="hover:shadow-2xl hover:text-blue-500">PV順</a>
      </span>
    </span> 
  </div>
  <br>

    <h1 class="m-2 text-2xl">投稿一覧</h1>
    <div class="
    grid 
    grid-cols-1 text-3xl
    sm:grid-cols-2 sm:text-2xl
    md:grid-cols-3 md:text-xl
    lg:grid-cols-4 lg:text-lg
    gap-3
    pr-4">
    {% if object_list %}
      {% for post in object_list %}
      
      <div class= "
      bg-white
      post
      container 
      border border-gray-700 border-solid border-t-2 border-l-2 border-b-8 border-r-8 rounded-lg
      m-4 p-4
      hover:shadow-2xl
      ">
      <a href = "../post/{{ post.id }}">
    
      <span class="
      text-4xl
      sm:text-3xl
      md:text-2xl
      lg:text-xl
      ">
          <div name="left">
            <p>投稿者:{{ post.author }}</p>
            <p>タイトル:<span class="">{{ post.title }}</span></p>
        </span>
      <br>
      <span class="
      text-2xl
      sm:text-xl
      md:text-lg
      lg:text-base
      ">
            <p>PV:{{post.pv}}  お気に入り数:{{ post.fav_num }}</p>
            <p>投稿日時:{{ post.created_at | date:'Y/m/d H:i'}}</p>
      </span>
            <br>
          </div name="left">
        <div name="right" id="image">


          {% if post.img %}
          {% comment %} post.imgのheightが250px未満なら {% endcomment %}
            {% if post.img.height < 250 %}
            <img src="/media/{{ post.img }}" style="width:auto;"class="rounded-xl">
              {% else %}
              <img src="/media/{{ post.img }}" style="width:auto;height:200px;"class="rounded-xl">
            {% endif %}
          {% else %}
            <img src="{% static 'img/NoImage.jpg' %}" style="width:auto;height:200px;" class="rounded-xl">
          {% endif %} 


          </a>
        </div name="right">

    </div>
  
      {% endfor %}    
    </div>
    {% elif request.resolver_match.url_name == 'home'%}
    </div>
      <p>投稿はまだありません｡</p>
      <br>
      <p>最初の投稿者になりませんか？</p>
      <a href ={% url 'post' %}>投稿する</a>
    
    {% elif request.resolver_match.url_name == 'my_prof'%}
  </div>
      <p>あなたの投稿はまだありません｡</p>
        <br>
        <p>投稿してみませんか？  </p>
      <a href ={% url 'post' %}>投稿する</a>
    {% endif %}


    <script>
      ScrollReveal().reveal('.post', {
        delay: 150,
        rotate: { x: 0, y: 0, z: 10 },
        reset: false,
        origin: 'right',
        viewFactor: 0.2,
        duration: 1200,
        distance: '70px',
 });
      ScrollReveal().reveal('#image', {
        delay: 600,
        rotate: { x: 0, y: 0, z: 0 },
        reset: false,
        origin: 'bottom',
        viewFactor: 0.2,
        duration: 600,
        distance: '50px',
 });


  $(function(){
	var cover = $('.cover');
  var loader = $('.loader');
  var loaderBox = $('.loaderBox');

	//ページの読み込みが完了したらアニメーションを非表示
	$(window).on('load',function(){
		cover.delay(200).fadeOut(200);
	});

	//ページの読み込みが完了してなくても3秒後にアニメーションを非表示にする
	setTimeout(function(){
		cover.fadeOut();
	},3000);
//////////////////////LOADER///////////////////////////
  $(window).on('load',function(){
		loader.delay(300).fadeOut(300);
    loaderBox.delay(300).fadeOut(300);
	});

	setTimeout(function(){
		loader.fadeOut();
    loaderBox.fadeOut();
	},3000);
  });



    </script>

</body>
{% endblock %}

</html>