<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index</title>
</head>
<body>

    <h1>Hello Djankas!</h1>
    <p>This is TEST page</p>
    <a>You don't have account? </a>
    <a href='http://localhost:8000/signup/'><strong>Sign up!</strong></a>
    <br>
    <a>Login here!</a>
    <a href='http://localhost:8000/login/'><strong>Login</strong></a>
    <br>
    <a href='http://localhost:8000/home/'><strong>Home</strong></a>
    <br>
    <a href='http://localhost:8000/my_prof/'><strong>Your Profile</strong></a>
    <br>
    <a href='http://localhost:8000/others_prof/'><strong>Others Profile</strong></a>
    <br>
    <a href='http://localhost:8000/post/'><strong>Post</strong></a>
    <br>
    <a href='http://localhost:8000/logout/'><strong>Logout</strong></a>
    <br>
    <a href='http://localhost:8000/admin/'><strong>admin</strong></a>
    <br>
    <a href='http://localhost:8000/favlist/'><strong>お気に入り一覧</strong></a>
    <script>
    </script>
</body>
</html>