<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index</title>
</head>
<body>

    <h1 class="mx-10 p-2 text-5xl">Welcome to this SITE !!!</h1>
    <p class="p-2 my-2 text-2xl">This is TEST page</p>
    <a class="p-2 my-2 text-2xl">You don't have account? </a>
    <a href='http://localhost:8000/signup/'><strong>Sign up!</strong></a>
    <br>
    <a class="p-2 my-2 text-2xl">Login here!</a>
    <a href='http://localhost:8000/login/'><strong>Login</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/home/'><strong>ー　作品一覧　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/my_prof/'><strong>ー　自分のプロフィール　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/others_prof/'><strong>ー　Others Profile　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/post/'><strong>ー　投稿する　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/logout/'><strong>ー　ログアウトする　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/admin/'><strong>ー　admin　ー</strong></a>
    <br>
    <a class="p-2 text-2xl" href='http://localhost:8000/favlist/'><strong>ー　お気に入り一覧　ー</strong></a>
    <script>
    </script>
</body>
</html>
