<!DOCTYPE html>
{% extends 'chat/header2.html' %}
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}DEVIANT{% endblock title %}</title>
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{% static 'css/load.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    
    {% endblock %}
</head>
{% block header %}
<body>

    <img src="{% static 'img/index2.jpg' %}" style="background-size: cover; opacity:0.5;position:fixed;z-index:3;">
    <div name="main" class="py-16 md:p-36 md:pr-48 md:text-8xl font-serif">
        
        <div id="title1" class="px-4 text-4xl md:text-8xl">“DEVIANT”</div>

        <br><br><br>

        <div class="flex justify-end text-3xl md:text-6xl "id="title2">
        -キミの世界を広げよう｡-
        </div>

    </div>
    <script>
        ScrollReveal().reveal('#title1', {
            delay: 150,
            reset: false,
            origin: 'left',
            viewFactor: 0.2,
            duration: 1200,
            distance: '70px',
     });

        ScrollReveal().reveal('#title2', {
            delay: 350,
            reset: false,
            origin: 'right',
            viewFactor: 0.2,
            duration: 1200,
            distance: '70px',
     });

    </script>
</body>
{% endblock %}
</html>
