<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% extends 'chat/header.html' %}
{% block header %}

<body>
    <!--Postモデルを利用した投稿機能-->
    <form action="" method="post"><!--投稿完了を表示させたい-->
      {%csrf_token%}
        {% comment %} <div class="">
        <label for="id_author_name">投稿者名</label>
        <input type="text" name="author" class="" maxlength="24" required
          id="id_author_name" placeholder="あなたの名前">
      </div> {% endcomment %}
        <div class="">
          <label for="id_title">タイトル</label>
          <input type="text" name="title" maxlength="24" class="" required id="id_title"
            placeholder="タイトル">
        </div>
        <div class="">
          <label for="id_content">概要</label>
          <textarea name="content" class="" required id="content" rows="10"></textarea>
        </div>
        <button type="submit" class="">投稿</button>
      </form>
          <script>
    </script>

</body>
{% endblock %}
</html>