<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% extends 'chat/header.html' %}
{% block header %}
<body class="bg-gradient-to-r from-slate-300 to-white">


    <div id="main" class="p-16 container mx-auto">
        <div class="flex justify-center">
          <textarea id="chat-log" cols="100" rows="20" readonly class="resize-none border-4  border-gray-400 rounded-xl shadow-2xl p-4"></textarea></div><br>
  
          <div class="flex justify-center">
        <p>Comment</p>
  
        
          <input class=" bg-gray-200 border-2 border-black rounded-2xl shadow-2xl p-4" id="chat-message-input" type="text" size="70"><br>
        
  
          <div class="">
          <input id="chat-message-submit" type="button" value="Send"class="p-2 pr-5 pl-5 bg-gray-600 text-white rounded-xl shadow-2xl hover:text-blue-200 hover:bg-gray-800">
          </div>
        </div>
      </div>


    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({

                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>


{% endblock %}
</html>