{% extends 'chat/header.html' %}
{% block header %}
<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Sign up</title>
    {% block script %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    {% endblock %}
</head>

<body>

    <!-- Section: Design Block -->
    <section class="mt-16"  id="main">
      <span class="px-6 h-full text-gray-800">
        <div
          class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
        >
          <div
            class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="w-full"
              alt="Sample image"
            />
          </div>
          <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
            <form method="POST">
              {%csrf_token%}
              <div
                class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 
                before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
              >
                <p class="text-center font-semibold mx-4 mb-0">Submit Your Info</p>
              </div>
              <!-- Email input-->
              <div class="mb-6">
                <input
                  type="email"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding
                   border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 
                   focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput1"
                  name="email"
                  placeholder="example@gmail.com"
                />Email
              </div>
              <!-- Username input -->
              <div class="mb-6">
                <input
                  type="text"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding 
                  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700
                   focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  name="username"
                  placeholder="Alex Django"
                />UserName
              </div>
    
              <!-- Password input -->
              <div class="mb-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding 
                  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700
                   focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  name="password"
                  placeholder="********"
                />Password
              </div>
              <!-- Repeat Password input -->
              <div class="mb-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding 
                  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700
                   focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  name="confirm-password"
                  placeholder="********"
                />Repeat Password
              </div>
    
              <div class="flex justify-between items-center mb-6">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="checkbox"
                    value="checked"
                    required
                    class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 
                    checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top 
                    bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    id="exampleCheck2"
                  />
                  <label class="form-check-label inline-block text-gray-800" for="exampleCheck2"
                    > I agree all statements in <a href="{% url "tos"%}" class="text-body"><u>Terms of service</u></a></label
                  >
                </div>
                <a href="#!" class="text-gray-800">.</a>
              </div>
    
              <div class="text-center lg:text-center">
                <button
                  
                  onclick=Submit()
                  class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase 
                  rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none 
                  focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                >
                  Sign Up
                </button>
                <p class="text-lg font-semibold mt-5 pt-1 mb-0">
                  Already have an account?
                  <a
                    href="../login"
                    class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                    >Login</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </span>
    </section>
<!-- Section: Design Block -->

    <script>
        //function Submit(){
        //  //利用規約に同意していなかったらalertを出す
        //  if(document.getElementsByName("checkbox")[0].checked == false){
        //    alert("利用規約に同意してください");
        //  }
        //  else{
        //    var form = document.createElement("form");
        //    form.method = "POST";
        //    form.action = "IT0xxx_JsCreateElementForm_AFTER.jsp";
        //    document.body.append(form);
        //    form.submit();
        //  }
        //}
    </script>
</body>
{% endblock %}
</html>