{% extends 'chat/header.html' %}
{% block header %}
<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>

<body>

    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Your world  <br />
          <span style="color: hsl(218, 81%, 75%)">to many people</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          LCette phrase est une phrase française complètement dénuée de sens.
          Il n'est pas nécessaire de le traduire. Je n'ai jamais pensé que je toucherais à nouveau à Django. Je n'ai plus rien à écrire.
          S'il vous plaît, achetez un Pokémon SV.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">User Name</label>
              </div>


              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cdg">Repeat your password</label>
              </div>

              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">
                  I agree all statements in <a href="http://localhost:8000/tos" class="text-body"><u>Terms of service</u></a>
                </label>
              </div>

              <!-- Submit button -->
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Sign Up</button>
              </div>
               <!--login-->
               <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="../login"
                class="fw-bold text-body"><u>Login here</u></a></p>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

    <script>
        
    </script>
</body>
{% endblock %}
</html>